/*COLORS*/
$white: #fff;
$black: #000;
$blue: #366AF3;
$light-blue: #7FA2FF;
$grey: #ACB4D6;


/*FONTS*/
$ibold: 'Inter-Bold';

$mbold: 'Montserrat-Bold';
$mmedium: 'Montserrat-Medium';
$mregular: 'Montserrat-Regular';
$msbold: 'Montserrat-SemiBold';

/*FONT SIZES*/
$p: 16px;

